<html>
    <head>
    </head>
<body>
    <h3>Evaluate!</h3>
    <form action="/" method="GET">
        Enter array length : <input name="arraylength" id="arraylength"/><br/>
        Enter min value : <input name="minValue" id="minValue"/><br/>
        Enter max value : <input name="maxValue" id="maxValue"/><br/>
        <br/>
        <input type="submit" value="Submit"/> <br>
        My Answer: <%=result%>
    </form>
</body>
</html>